body {
  background: #cccccc;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #00b3b4;
  font-weight: bolder;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #00b3b4;
  text-decoration: underline;
}

.error {
  display: none;
  font-size: 16px;
  color: red;
  font-weight: bold;
}

button {
  margin-top: 1em;
}

#recommendation {
  margin-top: 2em;
  font-weight: bold;
  font-size; 18px;
}

.col-md-8 {
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 2px grey dashed;
}

.col-md-3 {
  margin-top: 3.25em;
  padding-bottom: 1em;
}

/* CSS to hide results section on page load */
#css {
  display: none;
}

#ruby {
  display: none;
}

#php {
  display: none;
}

#java {
  display: none;
}

#csharp {
  display: none;
}
